<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


<div class="container">
  <div class="dropdown-sort" style="float:left; width:19%;">
    <button class="dropbtn">PRICE  <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
    <div class="dropdown-content">
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=price&price=free'>Free</a>
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=price&proce=25'>Under $25</a>
    </div>
  </div>

  <div class="dropdown-sort" style="float:left; width:19%;">
    <button class="dropbtn">LOCATION <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
    <div class="dropdown-content">
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=location&location=denver'>Denver</a>
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=location&location=boston'>Boston</a>
    </div>
  </div>

  <div class="dropdown-sort" style="float:left; width:20%;">
    <button class="dropbtn">TOPIC <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
    <div class="dropdown-content">
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&format=socialmedia'>Social Media</a>
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&format=business'>Business</a>
    </div>
  </div>

  <div class="dropdown-sort" style="float:left; width:19%;">
    <button class="dropbtn">FORMAT <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
    <div class="dropdown-content">
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=format&format=conference'>Conference</a>
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=format&format=webinar'>Webinar</a>
    </div>
  </div>

  <div class="dropdown-sort" style="float:left; width:19%;">
    <button class="dropbtn">LENGTH <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></button>
    <div class="dropdown-content">
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=length&length=weekly'>Daily</a>
      <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=lenght&length=daily'>Weekly</a>
    </div>
  </div>
</div>

<div style="float:right; width:30%; padding-top:3em; font-family:Lora;">
  <span id="sort-results"> Sort by: </span>
  <button class="sort-order"> <a href='/search/results?sort=az&q=<%=params[:q]%>&qt=<%=params[:qt]%>&cat=<%=params[:cat]%>'>A - Z </a> </button>
  <button class="sort-order"> <a href='/search/results?sort=za&q=<%=params[:q]%>&qt=<%=params[:qt]%>&cat=<%=params[:cat]%>'>Z - A </a> </button>
  <button class="sort-order"> <a href='/search/results?sort=price&q=<%=params[:q]%>&qt=<%=params[:qt]%>&cat=<%=params[:cat]%>'>PRICE </a> </button>
  <button class="sort-order"> <a href='/search/results?sort=new&q=<%=params[:q]%>&qt=<%=params[:qt]%>&cat=<%=params[:cat]%>'>NEWEST </a> </button>
</div>

<div class="container">
  <% if @results == nil %>
  <h4> Sorry, there were no results.</h4>
  <% else %>
  <div class="row" style="padding-top:7em;">
    <% @results.each do |result| %>
      <div class="col-md-4" style="overflow:scroll">
        <div class="image">
            <% if result.class == Organization %>
              <%= link_to image_tag(result.avatar.url(:square)), organization_path(result), class: "search-image" %>
            <% end %>
            <% if result.class == Offering %>
              <% if result.avatar_file_name == nil  %>
                <%= link_to image_tag(result.organization.avatar.url(:square)), organizations_offering_path(result), class: "search-image" %>
              <% else %>
                <%= link_to image_tag(result.avatar.url(:square)), organizations_offering_path(result), class: "search-image" %>
              <% end %>
            <% end %>
        </div>
        <% if result.class == Organization %>
          <%= link_to result.name.titleize, organization_path(result) %><br>
        <% end %>
        <% if result.class == Offering %>
          <%= link_to result.name.titleize, organizations_offering_path(result) %><br>
        <% end %>

        <% if result.class == Organization %>
          <% result.categories.each do |category| %>
            <span class="label label-default"><%= link_to category.name, category_path(category) %></span>
          <% end %>
        <% elsif  %>
          <% result.tags.each do |tag| %>
            <span class="label label-default"><%#= link_to tag.name, category_path(category) %></span>
          <% end %>
        <% end %>

        <% if result.class == Offering %>
          <% link_to result.name.titleize, organizations_offering_path(result) %>
        <% end %>
      </div>
    <% end %>

  <% end %>
</div>
</div>
