<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<div class="container">

  <h3 style="text-align:center; padding-bottom: 20px; font-family: Raleway;">SEARCH RESULTS</h3>
  <div class="row">
    <div class="col-md-4 search-results-left">
      <h4 style="text-align:left;"><a class="search-results-link" href='/search/results?q=<%=params[:q]%>&qt=<%= params[:qt] %>'> ALL</h4>
      <h4 style="text-align:left;"><a class="search-results-link" href='/search/results?cat=companies&q=<%=params[:q]%>&qt=<%=params[:qt]%>'>COMPANIES</a></h4>
      <h4 style="text-align:left;"><a class="search-results-link" href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>'>LEARNING</a></h4>
      <h4 style="text-align:left;"> <a class="search-results-link" href='/search/results?cat=resources&q=<%=params[:q]%>&qt=<%=params[:qt]%>'>RESOURCES</a></h4>
      <h4 style="text-align:left;"><a class="search-results-link" href='/search/results?cat=events&q=<%=params[:q]%>&qt=<%=params[:qt]%>'>EVENTS</a></h4>
    </div>

    <div class="col-md-8 search-results-right">
      <div class="row">
        <div class="search-form-search-results" style="float:left; width:50%;">
          <%= form_tag search_results_path, :method => :get do %>
            <%= text_field_tag :q, params[:q], id: "index_search_results", size: "50", style: "height:2.1em; width:17em; margin-left:1em;", value: params[:q] %><%= submit_tag "Search", class: 'btn btn-info btn-sm' %>
          <% end %>
        </div>

        <div class="dropdown-sort" style="float:right; width:20%;">
          <button class="dropbtn">Sort Results <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true" style="text-align:right;"></span> </button>
          <div class="dropdown-content">
            <a href='/search/results?sort=az&q=<%=params[:q]%>&qt=<%=params[:qt]%>&cat=<%=params[:cat]%>'>Alphabetical (A-Z)</a>
            <a href='/search/results?sort=za&q=<%=params[:q]%>&qt=<%=params[:qt]%>&cat=<%=params[:cat]%>'>Alphabetical (Z-A)</a>
          </div>
        </div>

    <% if params[:cat] == "learning" %>
      <div class="dropdown-sort" style="float:right; width:15%;">
        <button class="dropbtn">Filter Results By Format</button>
        <div class="dropdown-content">
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=format&format=conference'>Conference</a>
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=format&format=webinar'>Webinar</a>
        </div>
      </div>
      <div class="dropdown-sort" style="float:right; width:15%;">
        <button class="dropbtn">Filter Results By Topic</button>
        <div class="dropdown-content">
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&format=socialmedia'>Social Media</a>
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&format=business'>Business</a>
        </div>
      </div>
    <% end %>

    <% if params[:cat] == "resources" %>
      <div class="dropdown-sort" style="float:right; width:15%;">
        <button class="dropbtn">Filter Results By Format</button>
        <div class="dropdown-content">
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=format&format=conference'>Conference</a>
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=format&format=webinar'>Webinar</a>
        </div>
      </div>
      <div class="dropdown-sort" style="float:right; width:15%;">
        <button class="dropbtn">Filter Results By Topic</button>
        <div class="dropdown-content">
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&format=socialmedia'>Social Media</a>
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&format=business'>Business</a>
        </div>
      </div>
    <% end %>

    <% if params[:cat] == "events" %>
      <div class="dropdown-sort" style="float:right; width:15%;">
        <button class="dropbtn">Filter Results By Location</button>
        <div class="dropdown-content">
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=location&location=denver'>Denver</a>
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=location&location=newyork'>New York</a>
        </div>
      </div>
      <div class="dropdown-sort" style="float:right; width:15%;">
        <button class="dropbtn">Filter Results By Topic</button>
        <div class="dropdown-content">
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&topic=socialmedia'>Social Media</a>
          <a href='/search/results?cat=learning&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&topic=business'>Business</a>
        </div>
      </div>
    <% end %>





    <% if params[:cat] == "companies" %>
      <div class="dropdown-sort" style="float:right; width:22%;">
        <button class="dropbtn">Filter Results By Topic</button>
        <div class="dropdown-content">
          <a href='/search/results?cat=companies&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&topic=topic1'>Topic 1</a>
          <a href='/search/results?cat=companies&q=<%=params[:q]%>&qt=<%=params[:qt]%>&filter=topic&topic=topic2'>Topic 2</a>
        </div>
      </div>
    <% end %>

  </div>

      <% if @results == nil %>
        <h4> Sorry, there were no results.</h4>
      <% else %>

        <% @results.each do |result| %>
        <% if result.class == Organization %><span style="color:#D6707D">
        <h4 style="font-weight:200;"><%= image_tag result.avatar.url(:square) %> <span style="text-align:center"><%= link_to result.name.capitalize, organization_path(result) %></span> </h4>
        <% end %>
        <% if result.class == Offering %><span style="color:#7aaf4b">
        <h4 style="font-weight:200;"><%= image_tag result.avatar.url(:square) %> <span style="text-align:center"><%= link_to result.name.capitalize, organization_path(result) %></span> </h4>
        <% end %>
        </span>
          <% if result.class == Organization %>
            <% result.categories.each do |category| %>
            <p><span class="label label-default"><%= link_to category.name, category_path(category) %></span></p>
            <% end %>
          <% end %>
        <% end %>

      <% end %>
    </div>
  </div>
</div>
