<div class="row">
  <div class="col-md-12">
      <div id="myCarousel" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <div class="row">
              <% if @offerings[0..3] %>
                <% @offerings[0..3].each do |offering| %>
                  <div class="col-sm-3">
                    <% if offering.avatar_file_name == nil  %>
                      <%= link_to image_tag offering.organization.avatar.url(:square), class: "center-block-img", size:'280x230' %>
                    <% else %>
                      <%= link_to image_tag offering.avatar.url(:square), class: "center-block-img", size:'280x230' %>
                      <% end %>
                    <h5 class="carousel-title"><%= link_to offering.name.upcase,  organizations_offering_path(offering) %></h5>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <% if @offerings[4..6] %>
                <% @offerings[4..6].each do |offering| %>
                  <div class="col-sm-3">
                    <% if offering.avatar_file_name == nil  %>
                      <%= link_to image_tag offering.organization.avatar.url(:square), class: "center-block-img", size:'280x230' %>
                    <% else %>
                      <%= link_to image_tag offering.avatar.url(:square), class: "center-block-img", size:'280x230' %>
                      <% end %>
                      <h5 class="carousel-title"><%= link_to offering.name.upcase,  organizations_offering_path(offering) %></h5>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>

        </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
        </div>
    </div>
</div>
