<div class="text-center">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li><%= link_to 'ALL', admin_dashboard_path %></li>
      <li><%= link_to 'A', admin_dashboard_path(:letter => 'A') %></li>
      <li><%= link_to 'B', admin_dashboard_path(:letter => 'B') %></li>
      <li><%= link_to 'C', admin_dashboard_path(:letter => 'C') %></li>
      <li><%= link_to 'D', admin_dashboard_path(:letter => 'D') %></li>
      <li><%= link_to 'E', admin_dashboard_path(:letter => 'E') %></li>
      <li><%= link_to 'F', admin_dashboard_path(:letter => 'F') %></li>
      <li><%= link_to 'G', admin_dashboard_path(:letter => 'G') %></li>
      <li><%= link_to 'H', admin_dashboard_path(:letter => 'H') %></li>
      <li><%= link_to 'I', admin_dashboard_path(:letter => 'I') %></li>
      <li><%= link_to 'J', admin_dashboard_path(:letter => 'J') %></li>
      <li><%= link_to 'K', admin_dashboard_path(:letter => 'K') %></li>
      <li><%= link_to 'L', admin_dashboard_path(:letter => 'L') %></li>
      <li><%= link_to 'M', admin_dashboard_path(:letter => 'M') %></li>
      <li><%= link_to 'N', admin_dashboard_path(:letter => 'N') %></li>
      <li><%= link_to 'O', admin_dashboard_path(:letter => 'O') %></li>
      <li><%= link_to 'P', admin_dashboard_path(:letter => 'P') %></li>
      <li><%= link_to 'Q', admin_dashboard_path(:letter => 'Q') %></li>
      <li><%= link_to 'R', admin_dashboard_path(:letter => 'R') %></li>
      <li><%= link_to 'S', admin_dashboard_path(:letter => 'S') %></li>
      <li><%= link_to 'T', admin_dashboard_path(:letter => 'T') %></li>
      <li><%= link_to 'U', admin_dashboard_path(:letter => 'U') %></li>
      <li><%= link_to 'V', admin_dashboard_path(:letter => 'V') %></li>
      <li><%= link_to 'W', admin_dashboard_path(:letter => 'W') %></li>
      <li><%= link_to 'X', admin_dashboard_path(:letter => 'X') %></li>
      <li><%= link_to 'Y', admin_dashboard_path(:letter => 'Y') %></li>
      <li><%= link_to 'Z', admin_dashboard_path(:letter => 'Z') %></li>
      <li><%= link_to 'ALL', admin_dashboard_path %></li>
    </ul>
  </nav>
</div>
