<div class="container">
  <h2 id="admin-header-dashboard"> Welcome to Your Admin Dashboard</h2>
  <div class="well">
    <div class="panel-body">
      <div class="row">
        <div class="col-md-4">
          <h4 style="text-align:center; padding-top:10px;"><%= link_to "Add An Organization Here", new_admin_organization_path, class: "btn btn-success" %></h4>
        </div>
        <div class="col-md-4">
          <h4 style="text-align:center; padding-top:10px;"><%= link_to "Manage Categories Here", new_admin_category_path, class: "btn btn-success" %></h4>
        </div>
        <div class="col-md-4">
          <h4 style="text-align:center; padding-top:10px;"><%= link_to "Manage Tags Here", new_admin_tag_path, class: "btn btn-success" %></h4>
        </div>
      </div>
    </div>
  </div>
  <div id="current-organizations">
    <h3 style="text-align:center;">Current Organizations:</h3>
    <%= render partial: "admin/dashboard/letters" %>

      <% @organizations.each do |organization| %>
      <div class="panel panel-default">
        <div class="panel-heading"><h4><%= link_to organization.name.titleize, admin_organization_path(organization.id) %></h4></div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-6">
                <%= image_tag organization.avatar.url(:square) %>
                <h5></h5>
                <%= link_to "Edit This Organization", edit_admin_organization_path(organization.id), class: "btn btn-warning btn-sm" %>
              </div>
              <div class="col-md-6">
                <h4><%= organization.name.titleize %>'s current offerings are:</h4>
                <% organization.offerings.each do |offering| %>
                <h5><%= link_to offering.name.titleize, admin_offering_path(offering.id) %> - <%= offering.format %>
                <% end %>
                <h5><%= link_to "Add an offering for this organization", admin_new_offering_path(organization.id), class: "btn btn-info btn-sm" %></h5>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
