<body class="login-page">
  <div class="container extra-pad">
    <div class ="row">
      <div class = "text-center">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body less-padding">
              <h3 class="form-title">Create a new offering for organization <%= @organization.name.titleize %></h3>
            </div>
            <div class="panel-footer panel-pad">
              <%= form_for [:admin, @offering], url: {action: "create", organization_id: @organization.id}, class: "form-group" do |f| %>
                <div class="form-group">
                  <%= f.text_field :name, class: "form-control login-items", placeholder: "Name of Offering", id: "Name" %>
                </div>
                <div class="form-group">
                  <%= f.date_field :date, class: "form-control login-items", placeholder: "Date", id: "date" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :format, class: "form-control login-items", placeholder: "Format", id: "format" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :location, class: "form-control login-items", placeholder: "Location Info", id: "location" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :length, class: "form-control login-items", placeholder: "Length of Event", id: "length" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :price, class: "form-control login-items", placeholder: "Price Info", id: "price" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :payment_options, class: "form-control login-items", placeholder: "Payment Options", id: "payment" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :website, class: "form-control login-items", placeholder: "Website", id: "website" %>
                </div>
                <div class="form-group">
                  <%= f.text_area :materials, class: "form-control login-items", placeholder: "Materials & Resources (separate by semicolon)", id: "materials" %>
                </div>
                <div class="form-group">
                  <%= f.text_area :description, class: "form-control login-items", placeholder: "Description", id: "description" %>
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading">Add a photo for this offering:</div>
                    <div class="panel-body"><%= f.file_field :avatar %></div>
                </div>
                <div class="panel panel-info">
                <%= f.fields_for @offerings_tags do |u| %>
                <div class="panel-heading">Choose tags for this offering</div>
                  <p class="form-group second">
                    <div class="panel-body">
                    <%= u.collection_check_boxes :tag_id, @tags, :id, :name,  {:multiple => true} do |u| %>
                    <p><%= u.check_box %> <%= u.label %></p>
                  <% end %></p>
                  </div>
                <% end %>
                </div>
                <button type="submit" class="btn btn-default submit-button login-items" id="submitnewbutton">Create Offering</button></p>
              <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>
    </body>
