<body class="login-page">
  <div class="container extra-pad">
    <div class ="row">
      <div class = "text-center">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body less-padding">
              <h3 class="form-title">Create a new offering for organization <%= @organization.name %></h3>
            </div>
            <div class="panel-footer panel-pad">
              <%= form_for [:admin, @offering], url: {action: "create", organization_id: @organization.id}, class: "form-group" do |f| %>
                <div class="form-group">
                  <%= f.text_field :name, class: "form-control login-items", placeholder: "Name", id: "Name" %>
                </div>
                <div class="form-group">
                  <%= f.date_field :date, class: "form-control login-items", placeholder: "Date", id: "date" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :format, class: "form-control login-items", placeholder: "Format", id: "format" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :location, class: "form-control login-items", placeholder: "Location", id: "location" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :price, class: "form-control login-items", placeholder: "Price", id: "price" %>
                </div>
                <div class="form-group">
                  <%= f.text_area :description, class: "form-control login-items", placeholder: "Description", id: "description" %>
                </div>

                <%= f.fields_for @offerings_tags do |u| %>
                <p> Choose tags for this offering</p>
                  <p class="form-group second">
                    <%= u.collection_radio_buttons :tag_id, @tags, :id, :name do |u| %>
                    <%= u.radio_button %> <%= u.label %>
                  <% end %></p>
                <% end %>
            

                <button type="submit" class="btn btn-default submit-button login-items" id="submitnewbutton">Create Offering</button></p>
              <% end %>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>
    </body>
