<body class="login-page">
  <div class="container extra-pad">
    <div class ="row">
      <div class = "text-center">
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body less-padding">
              <h3 class="form-title">Update <%= @organization.name.titleize %></h3>
            </div>
            <div class="panel-footer panel-pad">
              <%= form_for [:admin, @organization], class: "form-group" do |f| %>
                <div class="form-group">
                  <%= f.text_field :name, class: "form-control login-items", placeholder: "Name", id: "Name" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :website, class: "form-control login-items", placeholder: "Website", id: "Website" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :twitter, class: "form-control login-items", placeholder: "Twitter", id: "Twitter" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :instagram, class: "form-control login-items", placeholder: "Instagram", id: "Instagram" %>
                </div>
                <div class="form-group">
                  <%= f.text_field :facebook, class: "form-control login-items", placeholder: "Facebook", id: "Facebook" %>
                </div>
                <div class="form-group">
                  <%= f.text_area :description, class: "form-control login-items", placeholder: "Description", id: "Description" %>
                </div>
                <div class="form-group">
                  <%= f.text_area :history, class: "form-control login-items", placeholder: "Company Background", id: "History" %>
                </div>

                <div class="panel panel-info">
                  <div class="panel-heading">
                  Current photo for this organization is:
                  </div>
                  <div class="panel-body">
                      <%= image_tag @organization.avatar.url(:square) %>
                    </div>
                  </div>
                </div>

                <div class="panel panel-warning">
                  <div class="panel-heading">Upload a new photo for this organization:</div>
                    <div class="panel-body"><%= f.file_field :avatar %></div>
                </div>

                <div class="panel panel-info">
                  <div class="panel-heading">
                  Current categories for this offering are: <% @organization.categories.each do |category| %>
                  </div>
                  <div class="panel-body"><%= category.name %>
                    <% end %>
                  </div>
                </div>
                </div>

                <div class="panel panel-warning">
                <%= f.fields_for :categories do |u| %>
                <div class="panel-heading">Choose new categories for this organization:</div>
                  <p class="form-group second">
                    <div class="panel-body"><%= u.collection_check_boxes :category_id, @categories, :id, :name, {multiple: true} do |u| %>
                    <p><%= u.check_box %> <%= u.label %></p>
                  <% end %>
                </div>
                </div>
                <% end %>
                <button type="submit" class="btn btn-info" id="submitnewbutton" >Update Organization</button></p>
              <% end %>
              <p><%= link_to " << Back to Your Dashboard", admin_dashboard_path, class: "btn btn-success btn-sm"%></p>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>
    </body>
