
<div class="container" style="margin-top:-2em;">
  <div class="row">
    <div class="col-md-8">
      <p style="color:#B59A76; font-weight:bold; font-size:0.9em;"><%= @offering.format %><tag style="color:black"> | </tag><% @offering.tags.each do |t| %> <%= t.name %> <% end %></p>
      <h4><%= @offering.name.titleize %></h2>
      <p> <%= link_to @offering.organization.name.titleize, organization_path(@offering.organization) %></p>
      <% if @offering.avatar_file_name == nil  %>
        <%= image_tag @offering.organization.avatar.url(:square) %>
      <% else %>
        <%= image_tag @offering.avatar.url(:square) %>
      <% end %>
      <p style="margin-top:5px;"><%= @offering.description %></p>
      <br>
        <div class="well" id="offering-details">
            <h4 id="offering-details-title"><strong>DETAILS</strong></h4>
            <h5>DATE: <span class="offering-details-sub-header"><% if @offering.date %><%= @offering.date.strftime("%m/%d/%Y") %><% end %></span></h5>
            <h5>LOCATION: <span class="offering-details-sub-header"> <%= @offering.location %></span></h5>
            <h5>LENGTH: <span class="offering-details-sub-header"> <%= @offering.length %></span></h5>
            <h5>FORMAT: <span class="offering-details-sub-header"><%= @offering.format %></span></h5>
            <h5>PRICE: <span class="offering-details-sub-header"><%= @offering.price_formatted %></span></h5>
            <h5>PAYMENT OPTIONS: </h5>
            <ul>
              <% if @offering.materials != nil %>
                <% @offering.payment_options.split(';').each do |p| %>
                <li><%= p.titleize %></li>
                <% end %>
              <% end %>
          </ul>
      </div>
      <div class="well" id="offering-details">
        <h4 id="offering-details-title"><strong>MATERIALS & RESOURCES</strong></h4>
        <% if @offering.materials != nil %>
        <ul>
          <% @offering.materials.split(';').each do |o| %>
          <li><%= o.titleize %></li>
          <% end %>
        </ul>
        <% end %>
      </div>
      <%= link_to "more about this company", organization_path(@offering.organization), class: "btn btn-primary " %>

    </div>
    <div class="col-md-4" style="text-align:left;">
      <div class="well" id="reserve-spot-div">
      <h4 id="reserve-spot-title">RESERVE SPOT | <%= @offering.price_formatted %></h4>
      <p id="buy-tickets">  <%= link_to 'buy tickets', "#{@offering.organization.website}", target: '_blank' %>  <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></p>

    </div>
    <div style="padding-bottom:2em;">
      <%= image_tag "map.jpg", size: "360x170"  %>
    </div>
    <h5 id="similar-offerings"> <%= pluralize('similar', @offering.format.downcase) %>  </h5>
    <% if @offering.similar != nil %>
      <% @offering.similar.each do |similar| %>
        <div class="well similar-offerings">
          <% if similar.avatar_file_name == nil  %>
            <% if similar.organization != nil %>
              <%= image_tag(similar.organization.avatar.url, size: "100x100") %>
            <% end %>
          <% else %>
            <%= image_tag(similar.avatar.url, size: "100x100") %>
          <% end %>
          <h5 style="text-align:left;">
            <span style="padding-right:0.5em; font-family:'Lora', serif;">
              <%= link_to similar.name.upcase, organizations_offering_path(similar) %>
            </span>
             <% if similar.organization != nil %><br><%= similar.organization.name %> <% end %>
           </h5>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
