
<div class="container" style="margin-top:-2em;">
  <div class="row">
    <div class="col-md-8">
      <h4 style="padding-bottom:1em;"><%= @organization.name.titleize %></h2>
        <%= image_tag @organization.avatar.url(:square) %>
            <div id="exTab1">
            <ul  class="nav nav-tabs" style="padding-top:30px; font-family: 'Signika', sans-serif;">
          		<li class="active">
                <a  href="#tab-info" data-toggle="tab">company info</a>
          		</li>
          		<li>
                <a href="#tab-offerings" data-toggle="tab">events & happenings</a>
          		</li>

            </ul>

          	<div class="tab-content clearfix" style="padding-top:30px; font-family:Helvetica; font-weight:lighter">
          	  <div class="tab-pane active" id="tab-info" >
                <p><%= @organization.history %></p>
          		</div>
          		<div class="tab-pane" id="tab-offerings">
                <div class="well" id="offering-courses" >
                  <h4 id="offering-courses-title"><strong>COURSES</strong></h4>
                    <% if @organization.courses != nil %>
                      <% @organization.courses.each do |course| %>
                        <p><%= link_to course.name, organizations_offering_path(course) %> </p>
                        <p> <% if course.date %> <%= course.date.strftime("%m/%d/%Y") %> <% end %>, for <%= course.length %> </p>

                      <% end %>
                    <% end %>
                </div>
                <div class="well" id="offering-courses" >
                  <h4 id="offering-courses-title"><strong>WORKSHOPS</strong></h4>
                    <div class="row">
                      <% if @organization.workshops != nil %>
                        <% @organization.workshops.each do |workshop| %>
                          <div class="col-md-4"><%= workshop.name %> </div>
                          <div class="col-md-4"><% workshop.tags.each do  %>
                          <%= tag.name %> <% end %></div>
                          <div class="col-md-4"><%= workshop.date %> </div>
                        <% end %>
                      <% end %>
                    </div>
                </div>
                <div class="well" id="offering-courses" >
                  <h4 id="offering-courses-title"><strong>CONFERENCES</strong></h4>
                    <% if @organization.conferences != nil %>
                      <% @organization.conferences.each do |conference| %>
                      <p><%= link_to conference.name, organizations_offering_path(conference) %> </p>
                      <p>  <% if conference.date %> <%= conference.date.strftime("%m/%d/%Y") %> <% end %>, for <%= conference.length %> </p>
                      <% end %>
                    <% end %>
                </div>
          		</div>

              <div class="tab-pane" id="tab-events">
                <% if @organization.courses != nil %>
                  <% @organization.courses.each do |course| %>
                    <p><%= link_to course.name, organizations_offering_path(course) %> </p>
                    <p> <% if course.date %> <%= course.date.strftime("%m/%d/%Y") %> <% end %>, for <%= course.length %> </p>

                  <% end %>
                <% end %>
                <ul>
                  <li>event 1</li>
                  <li>event 2</li>
                </ul>
          		</div>

          	</div>
          </div>
          <br>
      <div class="well" id="offering-details">
        <h4 id="offering-details-title"><strong>BEHIND THE SCENES</strong></h4>
          <p style="font-family:Helvetica; font-weight:lighter"> <%= @organization.description %> </p>
      </div>
      <div class="well" id="offering-details">
        <h4 id="offering-details-title"><strong>OTHER RESOURCES</strong></h4>
          <p style="font-family:Helvetica; font-weight:lighter"> Twitter: <%=  link_to @organization.twitter %> </p>
          <p style="font-family:Helvetica; font-weight:lighter"> Instagram: <%=  link_to @organization.instagram %> </p>
          <p style="font-family:Helvetica; font-weight:lighter"> Facebook: <%=  link_to @organization.facebook %> </p>
      </div>
  </div>

    <div class="col-md-4" style="text-align:left;">
      <div class="well" id="reserve-spot-div">
      <h4 id="reserve-spot-title" style="padding-top:25px; font-family: 'Signika', sans-serif;"> visit the <%=  link_to 'website', "#{@organization.website}", target: '_blank' %></h4>
    </div>
    <h5 id="similar-offerings"> Similar Organizations</h5>
    <% if @similar != nil %>
      <% @similar.each do |similar| %>
        <div class="well similar-offerings">
            <%= image_tag(similar.avatar.url, size: "100x100") %>

          <h5 style="text-align:center;"><span style="padding-right:0.5em; font-family:'Lora', serif;"><%= link_to similar.name.upcase, organization_path(similar) %> </span><span style="padding-left:0.5em;"></span> </h5>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
